<h1>Listing attendees</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%=h attendee.name %></td>
    <td><%= link_to 'Show', attendee %></td>
    <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
    <td><%= link_to 'Destroy', attendee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Register to Win!', new_attendee_path %>
<%= link_to 'Find a Winner', winner_path %>